<div class="w-full">
  <section class="landing-hero relative h-screen w-full">
  <div class="overlay absolute inset-0 flex flex-col">


    <div class="flex-1 flex flex-col items-center justify-center text-center px-4 text-white">
      <h1 class="text-3xl md:text-5xl font-bold mb-4">
        <span class="text-white">What's in <br> Your Digital Future?</span>

      </h1>
      <p class="md:text-lg lg:text-xl mb-6 max-w-xl text-gray-950 my-4 text-white">
        Prodian is dedicated to helping businesses build their digital future with  agile, outcome-focused solutions. From legacy modernization to data-driven analytics, we deliver technology that powers transformation.
      </p>

      <div class="flex flex-wrap justify-center gap-8 mb-8 text-sm">
        <div class="flex flex-col items-center text-white">
          <svg class="w-6 h-6 mb-1 " fill="none" stroke="currentColor" stroke-width="1.5"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2z" />
          </svg>
          <p><strong class="text-2xl font-medium">Since 2016</strong><br></p>
        </div>
        <div class="flex flex-col items-center text-white">
          <svg class="w-6 h-6 mb-1" fill="none" stroke="currentColor" stroke-width="1.5"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17 20h5v-2a4 4 0 0 0-3-3.87M9 20H4v-2a4 4 0 0 1 3-3.87M15 11a3 3 0 1 0-6 0 3 3 0 0 0 6 0zM17 11a3 3 0 1 0 6 0 3 3 0 0 0-6 0zM3 11a3 3 0 1 0 6 0 3 3 0 0 0-6 0z" />
          </svg>
          <p><strong class="text-2xl font-medium">150+</strong><br>Team Members</p>
        </div>
        <div class="flex flex-col items-center text-white">
          <svg class="w-6 h-6 mb-1 " fill="none" stroke="currentColor" stroke-width="1.5"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 10h18M3 6h18M3 14h18M4 18h16" />
          </svg>
          <p><strong class="text-2xl font-medium">2</strong><br>Development Centers</p>
        </div>
      </div>

      <button
        class="bg-yellow-400 text-black font-semibold px-6 py-2 rounded-full hover:bg-yellow-500 transition mb-6">
        Explore Our Solutions
      </button>

      <!-- Tags -->
<div class="relative overflow-hidden w-full lg:w-3/4 mx-auto my-4">
  <div class="flex gap-4 whitespace-nowrap animate-marquee text-white">
    <button class=" tag-button border-2 border-white">Product Engineering</button>
    <button class=" tag-button border-2 border-white">Digital Innovation</button>
    <button class=" tag-button border-2 border-white">Analytics</button>
    <button class=" tag-button border-2 border-white">Payments</button>
    <button class=" tag-button border-2 border-white">Cloud Solutions</button>
    <button class=" tag-button border-2 border-white">AI Enablement</button>

    <!-- Repeat again to create loop -->
    <button class=" tag-button border-2 border-white">Product Engineering</button>
    <button class=" tag-button border-2 border-white">Digital Innovation</button>
    <button class=" tag-button border-2 border-white">Analytics</button>
    <button class=" tag-button border-2 border-white">Payments</button>
    <button class=" tag-button border-2 border-white">Cloud Solutions</button>
    <button class=" tag-button border-2 border-white">AI Enablement</button>
  </div>
</div>



    </div>
  </div>
</section>
<section class="bg-white py-20 px-4 md:px-10 lg:px-20 mx-auto" data-aos="fade-up">
  <div class="text-center mb-14">
    <h2 class="text-4xl font-extrabold text-gray-900">What We Do</h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-fit mx-auto">
  <div data-aos="fade-up" data-aos-delay="100"
    class="rounded-xl overflow-hidden bg-white shadow-md hover:shadow-xl transition-shadow duration-300 flex flex-col">
    <img src="assets/Image/ourWork_Product_Engineer.png" alt="Product Engineering" class="w-full h-44 object-cover" />
    <div class="p-6 flex flex-col h-full">
      <div class="flex items-center gap-2 mb-2 text-sky-600 text-xl">
        <span class="bg-sky-200 rounded-xl p-2">
          <i class="bi bi-code-slash text-sky-600 text-2xl"></i>
        </span>
        <h3 class="font-bold text-gray-800">
          <span class="text-sky-600 text-2xl">Pro</span>duct Engineering
        </h3>
      </div>
      <p class="text-sm text-gray-600 text-lg mb-4 text-start font-medium">
        Build custom software that powers your competitive advantage.
      </p>
      <ul class="text-sm text-gray-700 text-lg space-y-2 mb-4">
        <li class="flex items-center gap-2">
          <i class="bi bi-check2-circle text-sky-600"></i> Fan engagement platform
        </li>
        <li class="flex items-center gap-2">
          <i class="bi bi-check2-circle text-sky-600"></i> Insurance Claims processing platform
        </li>
        <li class="flex items-center gap-2">
          <i class="bi bi-check2-circle text-sky-600"></i> Healthcare & Primarycare Software
        </li>
      </ul>
      <div class="mt-auto">
        <button class="rounded-full border text-sky-600 border-sky-600 px-4 py-2 w-1/2 my-2 hover:bg-sky-600 hover:text-white" (click)="navigateToDetailScreen('Product')">
          Learn More <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div data-aos="fade-up" data-aos-delay="200"
    class="rounded-xl overflow-hidden bg-white shadow-md hover:shadow-xl transition-shadow duration-300 flex flex-col">
    <img src="assets/Image/ourWork_Digital_Transfromation.png" alt="Digital Transformation"
      class="w-full h-44 object-cover" />
    <div class="p-6 flex flex-col h-full">
      <div class="flex items-center gap-2 mb-2 text-sky-600 text-xl">
        <span class="bg-sky-200 rounded-xl p-2">
          <i class="bi bi-globe text-sky-600 text-2xl"></i>
        </span>
        <h3 class="font-bold text-gray-800">
          <span class="text-sky-600 text-2xl">Di</span>gital Transformation
        </h3>
      </div>
      <p class="text-sm text-gray-600 text-lg mb-4 text-start font-medium">
        Modernize legacy systems with future-proof technology solutions.
      </p>
      <ul class="text-sm text-gray-700 text-lg space-y-2 mb-4">
        <li class="flex items-center gap-2"><i class="bi bi-check2-circle text-sky-600"></i> Open banking</li>
        <li class="flex items-center gap-2"><i class="bi bi-check2-circle text-sky-600"></i> Monetizable API Gateway</li>
        <li class="flex items-center gap-2">
          <i class="bi bi-check2-circle text-sky-600"></i> Technology blueprinting, platform, architecture and development
        </li>
      </ul>
      <div class="mt-auto">
        <button class="rounded-full border text-sky-600 border-sky-600 px-4 py-2 w-1/2 my-2 hover:bg-sky-600 hover:text-white" (click)="navigateToDetailScreen('Digital')">
          Learn More <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div data-aos="fade-up" data-aos-delay="500"
    class="rounded-xl overflow-hidden bg-white shadow-md hover:shadow-xl transition-shadow duration-300 flex flex-col">
    <img src="assets/Image/ourWork_Ai.png" alt="Analytics & AI" class="w-full h-44 object-cover" />
    <div class="p-6 flex flex-col h-full">
      <div class="flex items-center gap-2 mb-2 text-sky-600 text-xl">
        <span class="bg-sky-200 rounded-xl p-2">
          <i class="bi bi-bar-chart-line text-sky-600 text-2xl"></i>
        </span>
        <h3 class="font-bold text-gray-800">
          <span class="text-sky-600 text-2xl">An</span>alytics & AI
        </h3>
      </div>
      <p class="text-sm text-gray-600 text-lg mb-4 text-start font-medium">
        Leverage data to drive smarter business decisions.
      </p>
      <ul class="text-sm text-gray-700 text-lg space-y-2 mb-4">
        <li class="flex items-center gap-2">
          <i class="bi bi-check2-circle text-sky-600"></i> Predictive analytics on motor insurance
        </li>
        <li class="flex items-center gap-2">
          <i class="bi bi-check2-circle text-sky-600"></i> Automatic Image Tagging & Search
        </li>
        <li class="flex items-center gap-2">
          <i class="bi bi-check2-circle text-sky-600"></i> Invoice Discounting Tool
        </li>
      </ul>
      <div class="mt-auto">
        <button class="rounded-full border text-sky-600 border-sky-600 px-4 py-2 w-1/2 my-2 hover:bg-sky-600 hover:text-white" (click)="navigateToDetailScreen('Analytics')">
          Learn More <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

</section>
<section class="bg-white py-16 px-4 md:px-20" data-aos="fade-up">

  <div class="text-center mb-12">
    <h2 class="text-4xl font-bold mb-4">Our Work</h2>
    <p class="text-gray-600 text-lg max-w-2xl mx-auto">
      Discover how we’ve helped leading organizations transform their digital landscapes and achieve remarkable results.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="order-2 md:order-1 bg-white rounded-xl p-6 flex flex-col justify-between" data-aos="fade-right">
      <span class="bg-sky-100 text-sky-700 text-xs font-semibold px-3 py-1 rounded-full mb-4 inline-block w-fit">
        Sports Technology
      </span>

      <h3 class="text-xl font-semibold mb-2">
        Transforming Fan Engagement for a Leading Sport Franchise
      </h3>
      <p class="text-gray-600 text-lg mb-4">
        Delivered an omnichannel fan engagement platform with e-commerce integrations.
      </p>

      <div class="flex flex-wrap gap-6 text-sm mb-4">
        <div class="flex items-center space-x-2">
          <span class="bg-sky-200 rounded-xl p-2 px-3">
            <i class="bi bi-people text-sky-600 text-lg"></i>
          </span>
          <span class="text-gray-700 text-lg font-medium">1M+</span>
          <span class="text-gray-500 text-lg">app downloads</span>
        </div>
        <div class="flex items-center space-x-2">
          <span class="bg-sky-200 rounded-xl p-2 px-3">
            <i class="bi bi-award-fill text-sky-600 text-lg"></i>
          </span>
          <span class="text-gray-700 text-lg font-medium">#1</span>
          <span class="text-gray-500 text-lg">ranking app during season</span>
        </div>
      </div>

      <!-- <button class="mt-auto bg-sky-600 hover:bg-sky-700 text-white text-sm px-5 py-2 rounded-md flex items-center w-fit">
        Read Full Case Study →
      </button> -->
    </div>

    <div class="order-1 md:order-2 h-[250px] md:h-[400px]  rounded-xl overflow-hidden relative" data-aos="fade-left">
      <img src="../../../assets/Image/Fan-Engagement-in-Sports-scaled.jpg"
           alt="Fan Engagement"
           class="w-full h-full object-cover rounded-xl" />

    </div>

    <div class="order-3 md:order-3 h-[250px] md:h-[400px]  rounded-xl overflow-hidden relative">
      <img src="../../../assets/Image/DigitalTransformations.jpg"
           alt="Digital Transformation"
           class="w-full h-full object-cover rounded-xl" />

    </div>
    <div class="order-4 md:order-4 bg-white  rounded-xl p-6 flex flex-col justify-between">
      <span class="bg-blue-100 text-blue-700 text-xs font-semibold px-3 py-1 rounded-full mb-4 inline-block w-fit">
        Financial Technology
      </span>

      <h3 class="text-xl font-semibold mb-2">
        Digital Platform Modernization for a Global Financial Institution
      </h3>
      <p class="text-gray-600 text-lg mb-4">
        Modernized legacy platforms and integrated cutting-edge fintech solutions.
      </p>

      <div class="flex flex-wrap gap-6 text-sm mb-4">
        <div class="flex items-center space-x-2">
          <span class="bg-sky-200 rounded-xl p-2 px-3">
            <i class="bi bi-graph-up-arrow text-sky-600 text-lg"></i>
          </span>
          <span class="text-gray-700 text-lg font-medium">75%</span>
          <span class="text-gray-500 text-lg">faster transactions</span>
        </div>
        <div class="flex items-center space-x-2">
          <span class="bg-sky-200 rounded-xl p-2 px-3">
            <i class="bi bi-cash-stack text-sky-600 text-lg"></i>
          </span>
          <span class="text-gray-700 text-lg font-medium">40%</span>
          <span class="text-gray-500 text-lg">reduced operational costs</span>
        </div>
      </div>

      <!-- <button class="mt-auto bg-sky-600 hover:bg-sky-700 text-white text-sm px-5 py-2 rounded-md flex items-center w-fit">
        Read Full Case Study →
      </button> -->
    </div>
  </div>
</section>
</div>





