<!-- what-we-do.component.html -->
<section class="bg-[#2a3d74] text-white py-20 px-4 md:px-16 w-full">
  <div class="text-center max-w-4xl mx-auto">

    <h1 class="text-4xl md:text-5xl font-bold leading-tight mb-6">
      Everything You Need for the Future You Imagine
    </h1>
    <p class="text-sm md:text-lg text-gray-300">
      Prodian helps businesses unlock new possibilities through innovative digital solutions,
      cutting-edge technologies, and deep industry expertise. Whether you're looking to build new
      products, modernize your legacy systems, or harness the power of data, we provide the tools
      and expertise to help you achieve your vision.
    </p>
<!-- <div class="mt-10 space-x-3">
  <span class="border border-white text-white text-xs font-medium px-3 py-2 rounded-full">Product Engineering</span>
  <span class="border border-white text-white text-xs font-medium px-3 py-2 rounded-full">Digital Transformation</span>
  <span class="border border-white text-white text-xs font-medium px-3 py-2 rounded-full">Analytics</span>
</div> -->
  </div>
</section>

<section class="bg-white py-16 px-4 md:px-16 space-y-24 w-full" data-aos="fade-up">
  <h2 class="text-3xl font-bold text-center mb-12">Our Core Services</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-12" data-aos="fade-right">
    <div class="order-1 md:order-2">
      <div class="rounded-2xl shadow-lg">
        <img src="../../../assets/Image/productEngineering.jpg" alt="Product Engineering" class="rounded-2xl w-full h-auto object-cover" />
      </div>
    </div>
    <div class="order-2 md:order-1">
      <div class="flex items-center gap-2 mb-2 text-sky-600 text-xl">
        <span class="bg-sky-200 rounded-xl p-2 px-3">
          <i class="bi bi-code-slash text-sky-600 text-2xl"></i>
        </span>
        <h3 class="font-bold text-gray-800"><span class="text-sky-600 text-2xl">Pro</span>duct Engineering</h3>
      </div>
      <h3 class="text-2xl font-bold mb-4">Handcraft Your Competitive Advantage</h3>
      <p class="text-gray-600 mb-6">
        Prodian's product engineering services are tailored to meet the specific needs of
        businesses for fast-paced industries. We create proprietary software that helps you stay
        ahead of the competition by delivering exceptional user experience and operational efficiency.
      </p>

      <div class="grid grid-cols-2 gap-4 text-sm">
        <div>
          <h4 class="font-semibold mb-1 text-gray-700">Key Offerings</h4>
          <ul class="space-y-2">
            <li class="flex items-start gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>Fan engagement platform</span></li>
            <li class="flex items-start gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>Content delivery system</span></li>
            <li class="flex items-start gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>E-commerce platforms</span></li>
          </ul>
        </div>
        <div>
          <h4 class="font-semibold mb-1 text-gray-700"><i class="bi bi-graph-up-arrow text-yellow-400 mr-2"></i>Outcomes</h4>
          <ul class="space-y-2">
            <li class="flex items-start gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Revenue generation from new platforms</span></li>
            <li class="flex items-start gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Cost savings and increased efficiency</span></li>
            <li class="flex items-start gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Opening new channels and opportunities</span></li>
          </ul>
        </div>
      </div>
      <button class="mt-6 px-6 py-2 bg-[#1A99CD] text-white rounded-full shadow hover:bg-[#187dab] transition" (click)="navigateToDetailScreen('Product')">Learn More →</button>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-12 w-full" data-aos="fade-left">
    <div class="order-1 md:order-1">
      <div class="rounded-2xl overflow-hidden shadow-lg">
        <img src="../../../assets/Image/DigitalTransformations.jpg" alt="Digital Transformation" class="rounded-2xl w-full object-cover">
      </div>
    </div>
    <div class="order-2 md:order-2">
      <div class="flex items-center gap-2 mb-2 text-sky-600 text-xl">
        <span class="bg-sky-200 rounded-xl p-2 px-3"><i class="bi bi-globe text-sky-600 text-2xl"></i></span>
        <h3 class="font-bold text-gray-800"><span class="text-sky-600 text-2xl">Di</span>gital Transformation</h3>
      </div>
      <h3 class="text-2xl font-bold mb-4">Go from Legacy to Level Playing Field</h3>
      <p class="text-gray-600 mb-6">
        Prodian’s digital transformation services modernize your legacy systems and integrate them
        with future-ready solutions. Our approach ensures that your technology stack is scalable,
        secure, and aligned with your strategic goals.
      </p>

      <div class="grid grid-cols-2 gap-4 text-sm">
        <div>
          <h4 class="font-semibold mb-1 text-gray-700">Key Offerings</h4>
          <ul class="space-y-2">
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>Open banking solutions</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>Monetizable API gateway</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>Technology blueprinting and platform architecture</span></li>
          </ul>
        </div>
        <div>
          <h4 class="font-semibold mb-1 text-gray-700"><i class="bi bi-graph-up-arrow text-yellow-400 mr-2"></i>Outcomes</h4>
          <ul class="space-y-2">
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Increased performance and scalability</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Enhanced integrations with third-party systems</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Future-proof technology infrastructure</span></li>
          </ul>
        </div>
      </div>
      <button class="mt-6 px-6 py-2 bg-[#1A99CD] text-white rounded-full shadow hover:bg-[#187dab] transition" (click)="navigateToDetailScreen('Digital')">Learn More →</button>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-12 w-full" data-aos="fade-right">
    <div class="order-1 md:order-2">
      <div class="rounded-2xl overflow-hidden shadow-lg">
        <img src="../../../assets/Image/AI.jpeg" alt="Analytics & AI" class="rounded-2xl w-full object-cover">
      </div>
    </div>
    <div class="order-2 md:order-1">
      <div class="flex items-center gap-2 mb-2 text-sky-600 text-xl">
        <span class="bg-sky-200 rounded-xl p-2 px-3"><i class="bi bi-bar-chart-line text-sky-600 text-2xl"></i></span>
        <h3 class="font-bold text-gray-800"><span class="text-sky-600 text-2xl">An</span>alytics & AI</h3>
      </div>
      <h3 class="text-2xl font-bold mb-4">Turn Data into Strategic Advantage</h3>
      <p class="text-gray-600 mb-6">
        Our analytics and AI services help you harness the power of your data to make informed
        decisions, predict trends, and optimize operations. We provide end-to-end solutions from
        data collection to actionable insights.
      </p>

      <div class="grid grid-cols-2 gap-4 text-sm">
        <div>
          <h4 class="font-semibold mb-1 text-gray-700">Key Offerings</h4>
          <ul class="space-y-2">
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>User intelligence platforms</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>Behavioral analytics</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-sky-600"></i><span>Contextual intelligence solutions</span></li>
          </ul>
        </div>
        <div>
          <h4 class="font-semibold mb-1 text-gray-700"><i class="bi bi-graph-up-arrow text-yellow-400 mr-2"></i>Outcomes</h4>
          <ul class="space-y-2">
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Data-driven decision making</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Improved customer insights</span></li>
            <li class="flex gap-2 text-gray-600"><i class="bi bi-check2-circle text-yellow-400"></i><span>Operational optimization</span></li>
          </ul>
        </div>
      </div>
      <button class="mt-6 px-6 py-2 bg-[#1A99CD] text-white rounded-full shadow hover:bg-[#187dab] transition" (click)="navigateToDetailScreen('Analytics')">Learn More →</button>
    </div>
  </div>
</section>


